{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in history %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["num_shares"] }}</td>
                    <td>{{ stock["amount"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}